.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px
}

.container_category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

path {
  fill: #333;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table th {
  padding: 10px 20px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table td {
  padding: 10px 20px;
}